html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  body {
    background-color: #161616;
    margin: 0;
  }
  
  .login_body {
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dash {
    display: flex;
    align-content: baseline;
    justify-content: space-between;
    padding-inline: 2rem;
    background-color: #080808;
    max-height: 75px;
  }
  
  .dash button {
    all: unset;
  }
  
  .dash ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  
  .dash ul button {
    color: white;
    /* border-color: white;
    border-style: solid; */
  }
  
  .dash ul button:hover {
    cursor: pointer;
    color: purple;
    transition-duration: 0.25s;
  }
  
  .dash #logout {
    cursor: pointer;
  }
  
  .dash li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 125px;
    font-weight: 600;
    font-size: larger;
  }
  
  .dash div {
    display: flex;
    justify-content: right;
    max-width: 30%;
    padding-right: 1rem;
    margin-right: 2rem;
  }
  
  .dash div img {
    clip-path: circle();
    margin-right: 15px;
  }
  
  .dash div h2 {
    display: flex;
    align-items: center;
  }
  
  .names {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 0;
    margin-right: 5%;
  }
  
  .names h2,
  .names h3 {
    margin: 0;
  }
  
  .names h3 {
    font-size: 16px;
    font-weight: 200;
  }