<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>StarDash</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="../../general.css" />
	</head>
	<body>
		<i class="fa-solid fa-arrow-left" onclick="back()" id="back"></i>
		<h1 class="title">Tasks</h1>
		<div class="container">
			<ul id="assignedTasks">
				<h1>Assigned</h1>
			</ul>
			<div class="rewards">
				<h1>Rewards</h1>
				<h2>Coming soon &lt;3</h2>
			</div>
		</div>
		<script src="script.js"></script>
	</body>
</html>
