<html>
	<head>
		<link rel="stylesheet" href="settings_style.css" />
	</head>
	<body>
		<button id="backBtn">Back</button>
		<ul>
			<li>
				<h1>Token</h1>
				<input
					class="text secret"
					type="text"
					name=""
					id="tokenInput"
					readonly />
			</li>
			<li>
				<h1>Logout</h1>
				<input id="logout" type="button" value="logout" />
			</li>
			<!-- <li>
				<h1>Name</h1>
				<input class="text" type="text" name="" id="" />
			</li> -->
		</ul>
	</body>
	<script src="script.js"></script>
</html>
