@import url(../general.css);

body {
	position: relative;
	overflow: hidden;
}

ul {
	padding: 0;
}

li {
	background-color: var(--secondary-bg-colour);
	display: flex;
	width: 90%;
	margin-top: 0.5rem;
	padding-inline: 1rem;
	border-radius: 0.5rem;
	margin-inline: auto;
	justify-content: space-between;
}

li h1 {
	font-size: 25px;
}

li input {
	width: 392px; /* Must be 8 px smaller than select, Why? IDFK */
	height: 30px;
	margin-block: auto;
	cursor: pointer;
	font-size: 12px;
}

li select {
	width: 400px;
	height: 30px;
	font-size: 12px;
	margin-block: auto;
}

.secret {
	filter: blur(3px);
	transition-duration: 0.2s;
}

.secret:hover {
	cursor: pointer;
	filter: none;
	transition-duration: 0.2s;
}

.dev_tools ul {
	padding: 0;
	margin: 0;
	width: 100%;
}

.dev_tools textarea {
	width: 50%;
	height: 30px;
	margin-block: auto;
}

.updatingInfoElement h1,
.copiedInfoElement h1 {
	padding: 0;
	margin: 0;
}

.updatingInfoElement,
.copiedInfoElement {
	position: absolute;
	width: 15rem;
	text-align: center;
	margin-inline: auto;
	left: 0;
	right: 0;
	background-color: rgba(60, 255, 0, 0.473);
	border-radius: 1rem;
	padding-block: 1rem;
	opacity: 0;
	bottom: -10rem;
	transition-duration: 0.5s;
}

.show {
	bottom: 0;
	opacity: 1;
}

i {
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
}

.container {
	max-width: 800px;
	margin-inline: auto;
}

#back:not(.hidden) {
	color: white;
	position: absolute;
	font-size: 18px;
	left: 2rem;
	top: -0.4rem;
	padding: 1rem;
	border-radius: 50%;
	transition-duration: 250ms;
}

#back:hover:not(.hidden) {
	cursor: pointer;
	color: var(--accent-colour);
}

#title {
	text-align: center;
	max-width: 800px;
	background-color: var(--secondary-bg-colour);
	margin: 0;
	margin-inline: auto;
	position: relative;
}

.titlebg {
	width: 100vw;
	justify-content: center;
	background-color: var(--secondary-bg-colour);
}
