html {
	font-family: Arial, Helvetica, sans-serif;
	--background-colour: #161616;
	--secondary-bg-colour: #363636;
	--accent-colour: #8f2efd;
}

.errorAtag {
}

.timer {
	width: 90%;
	margin-inline: auto;
	margin-block: 20px;
	padding-block: 15px;
	background-color: var(--secondary-bg-colour);
	text-align: center;
	font-size: 30px;
}

#dash_main {
	background-color: var(--background-colour);
	width: 90%;
	margin-inline: auto;
}

#logList {
	list-style: none;
	padding: 0;
	width: 70%;
}

#logList li {
	margin-top: 1rem;
	text-align: center;
	width: 90%;
	margin-inline: auto;
	border-style: solid;
	border-color: white;
	border-radius: 1rem;
}

#logList li h1 {
	font-size: 24;
	margin: 0;
	margin-top: 0.5rem;
}

#logList li p {
	margin: 0;
	margin-bottom: 0.5rem;
}

#extensionList {
	list-style: none;
	position: sticky;
	padding: 0;
}

#extensionList li {
	background-color: var(--secondary-bg-colour);
	padding: 15px;
}

#extensionList li a {
	color: white;
	text-decoration: none;
}

#extensionList li a:hover {
	color: purple;
	cursor: pointer;
	transition-duration: 0.25s;
}

#dash_main {
	display: flex;
	justify-content: space-between;
}
