<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>StarDash</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="../../nav/navBar/nav.css" />
	</head>
	<body>
		<nav id="replace_nav"></nav>
		<section id="noLock">
			<h1>You're free... or are you?</h1>
			<div class="buttons">
				<h2 onclick="showNew()">Create a new lock</h2>
				<h2 class="disabled">Use a template</h2>
			</div>
		</section>
		<section id="overview">
			<div class="timer" id="timer">
				<div>
					<h3 class="description">weeks</h3>
					<h2 id="weeks"></h2>
				</div>
				:
				<div>
					<h3 class="description">days</h3>
					<h2 id="days"></h2>
				</div>
				:
				<div>
					<h3 class="description">hours</h3>
					<h2 id="hours"></h2>
				</div>
				:
				<div>
					<h3 class="description">minutes</h3>
					<h2 id="minutes"></h2>
				</div>
				:
				<div>
					<h3 class="description">seconds</h3>
					<h2 id="seconds"></h2>
				</div>
			</div>
			<div class="quickactions">
				<div class="content">
					<div id="unlock" onclick="unlock()" class="disabled">
						<i class="fa-solid fa-unlock"></i> Unlock
					</div>
					<div id="addtime">
						<i class="fa-solid fa-circle-plus"></i> Add time
					</div>
					<div id="request" onclick="request()" class="disabled">
						<i class="fa-solid fa-key"></i> Request
					</div>

					<!-- Add modules later -->
				</div>
			</div>
			<div class="modules"></div>
		</section>
		<section id="newLock">
			<h1>A new lock it is...</h1>
			<div class="setting">
				<h1 class="title">What time to start at?</h1>
				<div class="initial">
					<div class="minimum">
						<h2>Minimum</h2>
						<div class="counter" id="Minimum">
							<div class="single_counter">
								<i class="fa-solid fa-chevron-up" onclick="increase(this)"></i>
								<div
									class="single_counter_output"
									ondblclick="edit(this)"
									onkeypress="validate(event)">
									00
								</div>
								<i
									class="fa-solid fa-chevron-down"
									onclick="decrease(this)"></i>
								<h6>days</h6>
							</div>
							<div class="single_counter">
								<i class="fa-solid fa-chevron-up" onclick="increase(this)"></i>
								<div
									class="single_counter_output"
									ondblclick="edit(this)"
									onkeypress="validate(event)">
									00
								</div>
								<i
									class="fa-solid fa-chevron-down"
									onclick="decrease(this)"></i>
								<h6>hours</h6>
							</div>
							<div class="single_counter">
								<i class="fa-solid fa-chevron-up" onclick="increase(this)"></i>
								<div
									class="single_counter_output"
									ondblclick="edit(this)"
									onkeypress="validate(event)">
									00
								</div>
								<i
									class="fa-solid fa-chevron-down"
									onclick="decrease(this)"></i>
								<h6>mins</h6>
							</div>
						</div>
					</div>
					<div class="maximum">
						<h2>Maximum</h2>
						<div class="counter" id="Maximum">
							<div class="single_counter">
								<i class="fa-solid fa-chevron-up" onclick="increase(this)"></i>
								<div
									class="single_counter_output"
									ondblclick="edit(this)"
									onkeypress="validate(event)">
									00
								</div>
								<i
									class="fa-solid fa-chevron-down"
									onclick="decrease(this)"></i>
								<h6>days</h6>
							</div>
							<div class="single_counter">
								<i class="fa-solid fa-chevron-up" onclick="increase(this)"></i>
								<div
									class="single_counter_output"
									ondblclick="edit(this)"
									onkeypress="validate(event)">
									00
								</div>
								<i
									class="fa-solid fa-chevron-down"
									onclick="decrease(this)"></i>
								<h6>hours</h6>
							</div>
							<div class="single_counter">
								<i class="fa-solid fa-chevron-up" onclick="increase(this)"></i>
								<div
									class="single_counter_output"
									ondblclick="edit(this)"
									onkeypress="validate(event)">
									00
								</div>
								<i
									class="fa-solid fa-chevron-down"
									onclick="decrease(this)"></i>
								<h6>mins</h6>
							</div>
						</div>
					</div>
				</div>
				<div id="warning" class="hidden">
					<i class="fa-solid fa-circle-exclamation"></i>
					Minimum can not be larger than maximum!
				</div>
			</div>
			<div class="setting limit">
				<h1 class="title">Limit</h1>
				<div class="counter" id="Limit">
					<div class="single_counter">
						<i class="fa-solid fa-chevron-up" onclick="increaseLimit(this)"></i>
						<div
							class="single_counter_output"
							ondblclick="editLimit(this)"
							onkeypress="validate(event)">
							00
						</div>
						<i
							class="fa-solid fa-chevron-down"
							onclick="decreaseLimit(this)"></i>
						<h6>weeks</h6>
					</div>
					<div class="single_counter">
						<i class="fa-solid fa-chevron-up" onclick="increaseLimit(this)"></i>
						<div
							class="single_counter_output"
							ondblclick="editLimit(this)"
							onkeypress="validate(event)">
							00
						</div>
						<i
							class="fa-solid fa-chevron-down"
							onclick="decreaseLimit(this)"></i>
						<h6>days</h6>
					</div>
					<div class="single_counter">
						<i class="fa-solid fa-chevron-up" onclick="increaseLimit(this)"></i>
						<div
							class="single_counter_output"
							ondblclick="editLimit(this)"
							onkeypress="validate(event)">
							00
						</div>
						<i
							class="fa-solid fa-chevron-down"
							onclick="decreaseLimit(this)"></i>
						<h6>hours</h6>
					</div>
				</div>
				<div id="warningLimit" class="">
					<i class="fa-solid fa-circle-exclamation"></i>
					The session has no limit!
				</div>
				<div id="invalidLimit" class="hidden">
					<i class="fa-solid fa-circle-exclamation"></i>
					The limit must be greater than or equal to maximum!
				</div>
			</div>
			<div class="setting" id="modules">
				<div id="moduleCount">0/5</div>
				<div class="modules">
					<div class="titles" id="moduleTitles">
						<h1>Modules</h1>
						<h1 id="moduleTitle">[TITLE]</h1>
					</div>
					<div class="body">
						<ul id="moduleList">
							<li onclick="selectModule(this)">Tasks</li>
							<li onclick="selectModule(this)">Rules</li>
						</ul>
						<div class="moduleBody" id="moduleBody">
							<h3 id="toggleButton" onclick="toggle(this)">Enable</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="setting">
				<h1 class="title">Combination</h1>
				<div class="combo">
					<i class="fa-regular fa-square-plus" onclick="adddigit(this)"></i>
					<div id="combo">0000</div>
					<i class="fa-regular fa-square-minus" onclick="remdigit(this)"></i>
				</div>
			</div>
			<div class="finish">
				<div id="finish" onclick="done()">
					<i class="fa-solid fa-lock"></i> Start session
				</div>
			</div>
		</section>
		<section id="KHoverview"></section>
	</body>
	<script src="script.js"></script>
	<script src="../navBar/nav.js"></script>
</html>
