@import url("../../general.css");

section:not(.visible) {
	display: none;
}

section {
	text-align: center;
	margin-top: 5rem;
}

h2,
h1 {
	margin: 0;
}

#noLock > .buttons {
	display: flex;
	width: 90%;
	justify-content: center;
	margin-inline: auto;
	margin-top: 2rem;
}

#noLock > .buttons > h2 {
	background-color: var(--secondary-bg-colour);
	padding: 0.75rem;
	margin-inline: 1rem;
	border-radius: 2rem;
	transition: 250ms;
}

#noLock > .buttons > .disabled {
	opacity: 0.5;
}

#noLock > .buttons > h2:not(.disabled):hover {
	cursor: pointer;
	background-color: var(--accent-colour);
}

.setting {
	position: relative;
	background-color: var(--secondary-bg-colour);
	width: 70vw;
	margin-inline: auto;
	margin-top: 1rem;
	border-radius: 0.5rem;
	position: relative;
	padding-bottom: 1rem;
}

.setting > .title {
	margin-block: 0.5rem;
}

.initial {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-inline: auto;
}
.limit {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.counter {
	display: flex;
	justify-content: space-evenly;
	width: 150px;
}

.single_counter > h6 {
	margin: 0;
}

#warning {
	color: red;
	margin: 0;
	margin-top: 1rem;
	font-size: 16px;
}

#warningLimit {
	color: orange;
	margin: 0;
	margin-top: 1rem;
	font-size: 16px;
}

.hidden {
	display: none;
}

.modules {
	padding-top: 1rem;
	padding-left: 1rem;
	width: min-content;
}

.modules > .titles {
	--ul-width: 200px;
	--body-width: 00px;
	display: flex;
	text-align: center;
	background-color: var(--background-colour);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border-bottom: 2px solid white;
}

.modules > .titles > h1:first-child {
	width: var(--ul-width);
}

.modules > .titles > h1:last-child {
	width: var(--body-width);
	overflow: hidden;
	transition-duration: 1s;
}

.modules > .body > #moduleList {
	width: 200px;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: var(--background-colour);
	height: 100%;
	overflow-y: scroll;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.modules > .body > #moduleList > li {
	height: 25px;
	transition-duration: 250ms;
	border-radius: 0.25rem;
	text-align: center;
	width: 90%;
	margin-inline: auto;
}

.modules > .body > #moduleList > li:hover {
	background-color: var(--accent-colour);
	cursor: pointer;
}

.modules > .body {
	display: flex;
	height: 300px;
	background-color: var(--background-colour);
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.modules > .body > #moduleBody {
	height: 100%;
}

.open {
	border-left: 2px solid white;
}
