<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>StarDash</title>
		<link rel="stylesheet" href="../../general.css" />
		<link rel="stylesheet" href="locks.css" />
	</head>
	<body>
		<i class="fa-solid fa-arrow-left" onclick="back();" id="back"></i>
		<h1 class="title">Manage lock</h1>
		<div class="container">
			<div class="lockee">
				<img src="" alt="" id="profilePicture" />
				<h1 id="username"></h1>
				<h2>Lock information</h2>
				<ul id="lockInfo">
					<li id="timeRemaining"></li>
					<li id="timeLocked"></li>
					<li id="timeFrozen"></li>
				</ul>
				<h2>Description</h2>
				<p id="description"></p>
				<h2>Modules</h2>
				<ul id="moduleList"></ul>
			</div>
			<div class="moduleCase">
				<h1 id="title">Module view</h1>
				<div id="moduleCase" class="tasks">
				</div>
			</div>
		</div>
		<script src="locks.js"></script>
	</body>
</ht`1ml>
