#back {
	position: absolute;
	left: 2rem;
	top: -0.4rem;
	padding: 1rem;
	border-radius: 50%;
}

#back:hover {
	cursor: pointer;
}

.title {
	text-align: center;
	width: 100%;
	background-color: var(--secondary-bg-colour);
	margin: 0;
}

.container {
	display: flex;
	align-content: space-between;
	justify-content: space-between;
}

.moduleCase {
	width: 60vw;
	margin-top: 1rem;
	margin-right: 1rem;
	border-radius: 0.5rem;
	background-color: var(--secondary-bg-colour);
}

.moduleCase > h1 {
	width: 85%;
	border-bottom: solid 2px white;
	margin: 0;
	text-align: center;
	margin-inline: auto;
}

.lockee {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30vw;
	background-color: var(--secondary-bg-colour);
	margin-left: 1rem;
	margin-top: 1rem;
	text-align: center;
	border-radius: 0.5rem;
}

.lockee > h1 {
	margin: 0;
}

#description {
	text-align: justify;
	width: 90%;
}

ul {
	width: 100%;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

#moduleList > li {
	width: 80%;
	font-size: 18px;
	margin-block: 0.2rem;
	margin-inline: auto;
	border-radius: 1rem;
	transition-duration: 250ms;
}

#moduleList > li:hover {
	cursor: pointer;
	background-color: var(--accent-colour);
	transition-duration: 250ms;
}

#profilePicture {
	border-radius: 100%;
	border: solid 2px white;
	width: 100px;
	aspect-ratio: 1/1;
	margin-top: 0.5rem;
}

.lockee > h2 {
	margin: 0;
	padding: 0;
	border-bottom: 2px solid white;
	width: 90%;
}

#lockInfo {
	list-style: none;
	padding: 0;
	text-align: center;
}

#lockInfo > li {
	margin-block: 0.5rem;
}

.tasks {
	position: relative;
	height: calc(100% - 39px);
}

.tasks > div {
	display: flex;
	justify-content: space-between;
}

.tasks > div > ul {
	width: 40%;
	border-radius: 0.5rem;
	margin-inline: 1rem;
	margin-top: 1rem;
	padding: 0;
	text-align: center;
	background-color: var(--background-colour);
	max-height: 250px;
	overflow-y: scroll;
	scrollbar-gutter: transparent;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(120, 33, 241, 0.8);
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

.tasks > div > ul > h2 {
	position: sticky;
	top: 0;
	background-color: var(--background-colour);
	z-index: 9999;
}

.tasks > div > ul > li {
	position: relative;
	margin-block: 0.5rem;
}

.tasks > div > ul > li > i {
	position: absolute;
	transition-duration: 250ms;
}
.tasks > div > #assignedTasks > li > i {
	right: 10px;
}

.tasks > div > #unassignedTasks > li > i {
	left: 10px;
}

.tasks > div > ul > li > i:hover {
	color: var(--accent-colour);
	transition-duration: 250ms;
	cursor: pointer;
}

.tasks > div > ul > h2 {
	margin: 0;
	border-bottom: 2px solid white;
}

.tasks > .log {
	position: absolute;
	bottom: 1rem;
	left: 0.7rem;
	background-color: var(--background-colour);
	width: 95%;
	margin-inline: auto;
	border-radius: 0.5rem;
	margin-top: 1rem;
}

.tasks > .log > h2 {
	margin: 0;
	width: 90%;
	border-bottom: 2px solid white;
	margin-inline: auto;
}

.tasks > .log > li {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-top: 0.25rem;
}

.tasks > .log > li > h3,
.tasks > .log > li > h4 {
	margin: 0;
	margin-inline: 0.5rem;
}
