<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title></title>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="../modalsStyle.css" />
	</head>
	<body>
		<h1 class="title">Add a task</h1>
		<i class="fa-solid fa-arrow-left" onclick="goback()" id="back"></i>
		<div class="container">
			<input
				type="text"
				name="task"
				id="task"
				placeholder="A wonderful task..." />
			<button onclick="done()">Add task</button>
		</div>
	</body>
	<script src="script.js"></script>
	<script src="../settings/script.js"></script>
</html>
