<html>
  <head>
    <link rel="stylesheet" href="./styles/dash_style.css" />
    <link rel="stylesheet" href="./styles/nav_style.css">
    <title>StarDash</title>
  </head>
  <body>
    <div id="dash_body">
      <nav class="dash">
        <ul>
          <button id="nav_home" class="active"><li>Home</li></button>
          <button id="nav_games"><li>Games</li></button>
          <button id="nav_locks"><li>Locks</li></button>
        </ul>
        <div>
          <img id="avatar" src="" />
          <div class="names">
            <button id="logout">
              <h2 id="username">Loading...</h2>
            </button>
            <h3 id="discord">Loading...</h3>
          </div>
        </div>
      </nav>
      <ul class="lock_list">
        <li class="lock_item" id="0">
          Time remaining:<br />
          <span id="timer">
            <span id="days">NaN</span>:
            <span id="hours">NaN</span>:
            <span id="minutes">NaN</span>:
            <span id="seconds">NaN</span>
          </span>
        </li>
      </ul>
      <main id="dash_main">
        <ul id="extensionList"></ul>
        <ul id="logList"></ul>
      </main>
    </div>

  </body>
  <script src="./renderers/home_renderer.js"></script>
  <script src="./renderers/nav_renderer.js"></script>
</html>
