<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>StarDash</title>
  </head>
  <body>
    <nav class="dash">
      <ul>
        <button id="nav_home" class="active"><li>Home</li></button>
        <button id="nav_games"><li>Games</li></button>
        <button><li>Gambling</li></button>
        <button><li>Shop</li></button>
      </ul>
      <div>
        <img id="avatar" src="" />
        <div class="names">
          <h2 id="username">Loading...</h2>
          <h3 id="discord">Loading...</h3>
        </div>
      </div>
    </nav>

    <script src="renderer.js"></script>
  </body>
</html>
