<html>
  <head>
    
    <link rel="stylesheet" href="./styles/games_style.css" />
    <link rel="stylesheet" href="./styles/nav_style.css">
    <title>StarDash</title>
  </head>
  <body>
    <nav class="dash">
      <ul>
        <button id="nav_home" class="active"><li>Home</li></button>
        <button id="nav_games"><li>Games</li></button>
        <button id="nav_casino"><li>Casino</li></button>
        <button><li>Shop</li></button>
      </ul>
      <div>
        <img id="avatar" src="" />
        <div class="names">
          <h2 id="username">Loading...</h2>
          <h3 id="discord">Loading...</h3>
        </div>
      </div>
    </nav>
    <main>
      <table>
        <tr>
          <td>StarWoF</td>
          <td>StarDice</td>
          <td>3</td>
        </tr>
        <tr>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
        <tr>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>
      </table>
    </main>

    <script src="./renderers/nav_renderer.js"></script>
  </body>
</html>
