@import url(../../general.css);

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 2rem;
	background-color: rgba(20, 20, 20, 0.9);
	position: sticky;
	top: 0;
}

nav > ul {
	list-style: none;
	display: flex;
	font-weight: bold;
	padding: 0;
	margin: 0.25rem;
}

nav > ul > li {
	margin-inline: 0.5rem;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border-radius: 0.5rem;
	transition-duration: 250ms;
}

nav > ul > li:hover {
	cursor: pointer;
	background-color: var(--accent-colour);
}
