<!DOCTYPE html>
<html lang="en">
	<head>
		<title>StarDash</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="../navBar/nav.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	</head>
	<body id="body">
		<nav id="replace_nav"></nav>
		<main>
			<ul id="activity"></ul>
			<div class="sidebar">
				<div id="profile">
					<input type="file" name="" id="imgupload" style="display: none" />
					<img
						src="../../../photos/blank.png"
						alt=""
						id="userPicture"
						onclick="document.getElementById('imgupload').click();" />
					<h1 id="userUsername"></h1>
					<div id="userBadges"></div>
					<h2 id="timer" class="lockInfo"></h2>
					<div class="important lockInfo">
						<div class="hidden" id="comboBtn">
							<i class="fa-solid fa-clock"></i> Combination
						</div>
						<div class="hidden" id="relockBtn">
							<i class="fa-solid fa-lock"></i> Relock
						</div>
					</div>
					<div class="buttons lockInfo">
						<div class="disabled" id="unlockBtn" onclick="unlock()">
							<i class="fa-solid fa-unlock"></i> Unlock
						</div>
						<div onclick="addTime()">
							<i class="fa-solid fa-circle-plus"></i> Add time
						</div>
						<div class="disabled" id="khReq" onclick="request()">
							<i class="fa-solid fa-key"></i> Request
						</div>
						<div class="" id="tempUnlock" onclick="tempUnlock()">
							<i class="fa-solid fa-clock"></i> Tem. unlock
						</div>
					</div>
					<i
						class="fa-solid fa-gear settings"
						onclick="redirect('settings')"></i>
				</div>
				<ul id="ruleList" style="height: 15px" class="lockInfo">
					<li class="list_title" onclick="toggleList(this)">
						<span>Rules</span>
						<i class="fa-solid fa-caret-down"></i>
					</li>
				</ul>
				<ul id="moduleList" style="height: 15px" class="lockInfo">
					<li class="list_title" onclick="toggleList(this)">
						<span>Modules</span>
						<i class="fa-solid fa-caret-down"></i>
					</li>
				</ul>
			</div>
		</main>
	</body>
	<script src="script.js"></script>
	<script src="../navBar/nav.js"></script>
</html>
