<html>
	<head>
		<link rel="stylesheet" href="home.css" />
		<link rel="stylesheet" href="../nav.css" />
		<title>StarDash</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	</head>
	<body>
		<div id="dash_body">
			<nav class="dash">
				<ul>
					<button id="nav_home" class="active"><li>Home</li></button>
					<button id="nav_games" onclick="redirect('games')">
						<li>Games</li>
					</button>
					<button id="nav_locks" onclick="redirect('locks')">
						<li>Locks</li>
					</button>
				</ul>
				<div>
					<img id="avatar" src="" />
					<div class="names">
						<button id="nav_settings">
							<h2 id="username">Loading...</h2>
						</button>
						<h3 id="discord">Loading...</h3>
					</div>
					<i
						onclick="redirect('settings')"
						class="fa-solid fa-gear fa-xl"
						style="color: #ffffff"></i>
				</div>
			</nav>
			<div id="lockee">
				<div class="timer">
					<span id="timer">
						<span id="days">NaN</span>:<span id="hours">NaN</span>:
						<span id="minutes">NaN</span>:
						<span id="seconds">NaN</span>
					</span>
				</div>
				<main id="dash_main">
					<ul id="extensionList"></ul>
					<ul id="logList"></ul>
				</main>
			</div>
			<div id="keyholder">
				<h1>KH!!!</h1>
			</div>
		</div>
	</body>
	<script src="home.js"></script>
	<script src="../nav.js"></script>
</html>
