<html>
	<head>
		<title>StarDash</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="../navBar/nav.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	</head>
	<body id="body">
		<nav id="replace_nav"></nav>
		<main>
			<ul id="activity"></ul>
			<div class="sidebar">
				<div id="profile">
					<div class="header">
						<img src="" alt="" id="profilePicture" />
						<h1 id="username"></h1>
					</div>
					<h2 id="timer"></h2>
					<i
						class="fa-solid fa-gear settings"
						onclick="redirect('settings')"></i>
				</div>
			</div>
		</main>
	</body>
	<script src="script.js"></script>
	<script src="../navBar/nav.js"></script>
</html>
