@import url(../../general.css);

main {
	display: flex;
	overflow-y: hidden;
	justify-content: space-evenly;
	--sidebar-width: 300px;
	max-width: 900px;
	margin-inline: auto;
}

#activity {
	padding: 0;
	margin: 0;
	margin-top: 1rem;
	list-style: none;
	text-align: center;
}

#activity > li:not(#loadMoreBtn) {
	background-color: var(--secondary-bg-colour);

	position: relative;
	height: 175px;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-bottom: 0.75rem;
}

#activity > li:not(#loadMoreBtn) > h1 {
	font-size: 20px;
}

#activity > li:not(#loadMoreBtn) > h2 {
	text-align: left;
	width: 90%;
	margin-inline: auto;
	font-weight: normal;
	font-size: 18px;
}

#activity > li:last-child {
	background-color: var(--secondary-bg-colour);
	padding: 0.25rem;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	transition-duration: 150ms;
}

#activity > #loadMoreBtn:hover {
	cursor: pointer;
	background-color: rgba(var(--sec-bg-rgb-colour), 0.8);
	transition-duration: 150ms;
}

#activity > li > h3 {
	position: absolute;
	bottom: 0;
	right: 1rem;
}

#profile {
	position: relative;
	margin-top: 4rem;
	width: calc(var(--sidebar-width) - 16px);
	background-color: var(--secondary-bg-colour);
	padding: 0.5rem;
	border-radius: 0.5rem;
}

#profile > #userPicture {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	top: -50px;
	left: calc(50% - 50px);
	background-color: var(--secondary-bg-colour);
	padding: 0.5rem;
}
#profile > #userPicture:hover {
	cursor: pointer;
}

#profile > #userUsername {
	margin-top: 4rem;
	text-align: center;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#profile > #timer {
	margin-block: 0.75rem;
	text-align: center;
	background-color: var(--background-colour);
	padding-block: 0.5rem;
	border-radius: 5rem;
}

#profile > .settings {
	position: absolute;
	scale: 1.4;
	top: 20px;
	right: 20px;
	transition-duration: 250ms;
}

#profile > .settings:hover {
	cursor: pointer;
	transform: rotateZ(90deg);
	color: var(--accent-colour);
}

#profile > #timer {
	position: relative;
}

#profile > #timer > i {
	position: absolute;
	left: 10px;
	top: 10px;
	scale: 0.9;
}

#moduleList {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 1rem;
	background-color: var(--secondary-bg-colour);
	padding: 0.5rem;
	border-radius: 0.5rem;
	overflow: hidden;
	transition-duration: 250ms;
}

#moduleList > li:first-child {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	border-bottom: 2px solid white;
}

#moduleList > li:first-child:hover {
	cursor: pointer;
}

#moduleList > li:not(:first-child) {
	width: 95%;
	margin-inline: auto;
	text-align: center;
	background-color: var(--background-colour);
	margin-top: 0.5rem;
	padding-block: 0.25rem;
	border-radius: 0.5rem;
}

#moduleList > li:first-child > i {
	transition-duration: 250ms;
}

.openList {
	transform: rotateZ(-180deg);
}

.sidebar {
	width: var(--sidebar-width);
}

.important {
	display: flex;
	flex-direction: column;
}

.important > div {
	width: 95%;
	margin-inline: auto;
	text-align: center;
	border-radius: 0.5rem;
	background-color: var(--background-colour);
	padding-block: 0.5rem;
	font-weight: bold;
	transition-duration: 250ms;
}

.important > div:not(:first-child) {
	margin-top: 0.5rem;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 0.5rem;
}

.buttons > div {
	background-color: var(--background-colour);
	padding: 0.5rem;
	width: 40%;
	text-align: center;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	font-weight: bold;
	transition-duration: 250ms;
}

.buttons > div:hover:not(.disabled):not(.transparent),
.important > div:hover:not(.disabled):not(.hidden) {
	cursor: pointer;
	background-color: var(--accent-colour);
}

.disabled {
	opacity: 0.8;
}

.lockInfo {
	display: none;
	height: 15px;
}

.transparent {
	opacity: 0;
}
