<html>
    <head>
    </head>
    <body>
        <main>
            <h2>Winner: <span id="winner"></span></h2>
            <div class="dealer">
                <h1 id="dealer_total">Dealer total:</h1>
            </div>
            <div class="player">
                <h1 id="player_total">Player total: </h1>
                <button id="hit_button">Hit</button>
                <button id="stand_button">Stand</button>
            </div>
        </main>
    </body>
    <script src="./blackjack.js"></script>
</html>