@import url(../general.css);

body {
	color: white;
	margin: 0;
	background: var(--background-colour);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body #loadin {
	width: min-content;
	margin-inline: auto;
	text-align: center;
	margin-block: 15%;
}

img {
	border-radius: 5%;
}

h1 {
	margin-top: 0.5rem;
}

.hidden {
	display: none;
}

#network {
	position: absolute;
	text-align: center;
	top: 0;
	height: 24px;
	width: 90%;
	background-color: red;
	font-size: 12px;
	margin: 0;
	margin-inline: auto;
	padding: 0;
	padding-block: 0.2rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

#network h1 {
	margin: 0;
	padding: 0;
}
