html {
	font-family: Arial, Helvetica, sans-serif;
	--background-colour: #161616;
	--secondary-bg-colour: #363636;
	--accent-colour: #8f2efd;
}

body {
	color: white;
	margin: 0;
	background: var(--background-colour);
}

body #loadin {
	width: min-content;
	margin-inline: auto;
	text-align: center;
	margin-top: 19%;
}

img {
	border-radius: 5%;
}

h1 {
	margin-top: 0.5rem;
}

.hidden {
	display: none;
}

#network {
	text-align: center;
	top: 0;
	height: 24px;
	width: 90%;
	background-color: red;
	font-size: 12px;
	margin: 0;
	margin-inline: auto;
	padding: 0;
	padding-block: 0.2rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

#network h1 {
	margin: 0;
	padding: 0;
}
