<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>StarDash</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1 id="title">Hazard</h1>
		<i class="fa-solid fa-arrow-left" id="back" onclick="back();"></i>
		<div class="setup" id="setup">
			<h1>Bet time</h1>
			<input type="time" name="bet" id="bet" value="00:00" />
			<h1>Main</h1>
			<input type="text" name="main" id="main" placeholder="5-9" />
		</div>
		<div class="game hidden" id="game">
			<div class="diceWrapper">
				<h2 class="dice" id="0">5</h2>
				<h2 class="dice" id="1">5</h2>
			</div>
		</div>
		<div class="wrapper">
			<button id="throwDiceBtn" onclick="throwDice()">Start</button>
		</div>
		<script src="script.js"></script>
	</body>
</html>
