<!DOCTYPE html>
<html lang="en">
	<head>
		<title>StarDash</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="history.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	</head>
	<body>
		<h1 id="title">Lock history</h1>
		<i class="fa-solid fa-arrow-left" onclick="back();"></i>
		<div class="wrapper">
			<ul id="list"></ul>
		</div>
		<script src="history.js"></script>
	</body>
</html>
