<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1 class="title">Combination:</h1>
		<h2 id="combo"><!-- COMBO --></h2>
		<div class="buttons">
			<h3 id="finish" onclick="finish()">Delete combination</h3>
		</div>
		<p>
			Deleting combination, will end your session!<br />
			<b>No one including the god can get your combination back!</b>
		</p>
	</body>
	<script src="script.js"></script>
</html>
