<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="StarWheel.css" />
	</head>
	<body>
		<div id="spinny">
			<div class="marker"></div>
			<ul id="spinner">
				<li>Test</li>
				<li>Test1</li>
				<li>Test2</li>
				<li>Test3</li>
				<li>Test4</li>
				<li>Test5</li>
				<li>Test6</li>
			</ul>
		</div>
		<button onclick="scrollList();">Spin!</button>
		<script src="./StarWheel.js"></script>
	</body>
</html>
