<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css" />
		<title>StarDash</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	</head>
	<body>
		<div id="setup">
			<div class="titlebg">
				<h1 id="title" class="title">
					BlackJack
					<i class="fa-solid fa-arrow-left" id="back" onclick="back();"></i>
				</h1>
			</div>
			<div class="counter" id="bet">
				<div class="single_counter">
					<i class="fa-solid fa-chevron-up" onclick="increase(this)"></i>
					<div
						class="single_counter_output"
						ondblclick="edit(this)"
						onkeypress="validate(event)">
						00
					</div>
					<i class="fa-solid fa-chevron-down" onclick="decrease(this)"></i>
					<h6>weeks</h6>
				</div>
				<div class="single_counter">
					<i class="fa-solid fa-chevron-up" onclick="increase(this)"></i>
					<div
						class="single_counter_output"
						ondblclick="edit(this)"
						onkeypress="validate(event)">
						00
					</div>
					<i class="fa-solid fa-chevron-down" onclick="decrease(this)"></i>
					<h6>days</h6>
				</div>
				<div class="single_counter">
					<i class="fa-solid fa-chevron-up" onclick="increase(this)"></i>
					<div
						class="single_counter_output"
						ondblclick="edit(this)"
						onkeypress="validate(event)">
						00
					</div>
					<i class="fa-solid fa-chevron-down" onclick="decrease(this)"></i>
					<h6>hours</h6>
				</div>
				<div class="single_counter">
					<i class="fa-solid fa-chevron-up" onclick="increase(this)"></i>
					<div
						class="single_counter_output"
						ondblclick="edit(this)"
						onkeypress="validate(event)">
						00
					</div>
					<i class="fa-solid fa-chevron-down" onclick="decrease(this)"></i>
					<h6>mins</h6>
				</div>
			</div>
			<button id="start_button" disabled>Start</button>
			<div class="howToPlay">
				<h2>How to play</h2>
				<p>
					The goal of the game is to get as close to the number 21 without going
					over, while getting a higher total than the dealer.
					<br />
					<br />
					You can either "stand" or "hit", if you "stand" your total is locked
					in and it's the dealer's turn. The dealer draws a card if their total
					is &lt;17. If the dealer's total is higher than yours, without the
					dealer going over 21. You lose. If your total is higher than the
					Dealer's without going past 21 you win.
					<br />
					<br />
					If you get 21 in your first 2 cards it's called a "BlackJack" which
					means you win 1.5x your bet. Otherwise winning results in winning
					double your bet.
				</p>
			</div>
		</div>
		<div id="play">
			<h1 id="winner"></h1>
			<div class="totals">
				<div>
					<h1>Dealer total<br /><span id="dealer_total"></span></h1>
				</div>
				<div>
					<h1>Player total<br /><span id="player_total"></span></h1>
				</div>
			</div>
			<div class="player">
				<button id="hit_button">Hit</button>
				<button id="stand_button">Stand</button>
				<br />
				<button id="refresh_button">refresh</button>
			</div>
		</div>
	</body>
	<script src="./script.js"></script>
</html>
