@import url(../../general.css);

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#back:not(.hidden) {
	color: white;
	position: absolute;
	left: 2rem;
	top: -0.4rem;
	padding: 1rem;
	border-radius: 50%;
}

#back:hover:not(.hidden) {
	cursor: pointer;
}

#title {
	text-align: center;
	width: 100%;
	background-color: var(--secondary-bg-colour);
	margin: 0;
}

#max_bet {
	position: absolute;
	left: 5%;
	top: 10%;
}

.totals {
	display: flex;
	margin: 0;
	padding: 0;
}

.totals * {
	margin: 0;
	padding: 0;
}

.totals div {
	margin-inline: 1rem;
	padding: 2rem;
	background-color: #303030;
	border-radius: 1rem;
}

#play {
	display: none;
}

#setup {
	width: 100%;
}

#setup input {
	width: 200px;
	height: 30px;
	font-size: 16px;
}

#start_button {
	width: 200px;
	height: 60px;
	font-size: 30px;
	font-weight: 600;
}

#setup button:hover {
	cursor: pointer;
}

#return {
	clip-path: circle();
	position: absolute;
	left: 10px;
	top: 10px;
	width: 60px;
	height: 60px;
	font-size: 50;
}

.howToPlay {
	width: 90%;
	margin-inline: auto;
	background-color: var(--secondary-bg-colour);
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-top: 1rem;
}

.howToPlay > h2 {
	margin: 0;
}

.howToPlay > p {
	width: 90%;
	margin-top: 0.5rem;
	margin-inline: auto;
	background-color: var(--background-colour);
	padding: 1rem;
	border-radius: 0.5rem;
	text-align: justify;
}

.counter {
	display: flex;
	justify-content: space-evenly;
	width: 150px;
	font-size: 22px;
}

.single_counter {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.single_counter > i:hover,
.single_counter > div:hover {
	cursor: pointer;
}

.single_counter > h6 {
	margin: 0;
}

.counter {
	margin-block: 1rem;
}

#start_button {
	width: 100px;
	height: 50px;
	border-radius: 0.5rem;
}

.hidden {
	display: none;
}

#setup {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
