@import url(../../general.css);

body {
	overflow-y: hidden;
	border-radius: 1rem;
}

i {
	position: absolute;
	left: 2rem;
	top: -0.4rem;
	padding: 1rem;
	border-radius: 50%;
}

i:hover {
	cursor: pointer;
}

#title {
	text-align: center;
	width: 100%;
	background-color: var(--secondary-bg-colour);
	margin: 0;
}

table {
	margin-inline: auto;
}

h2 {
	text-align: center;
	margin: 0;
}

.buton_wrapper {
	width: 40%;
	height: 200px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
}

.buton_wrapper button {
	height: 30px;
}

.button_wrapper button:hover {
	cursor: pointer;
}
