<html>
	<head>
		<link rel="stylesheet" href="./games.css" />
		<link rel="stylesheet" href="../nav.css" />
		<title>StarDash</title>
	</head>
	<body>
		<div id="dash_body">
			<nav class="dash">
				<ul>
					<button id="nav_home" class="active"><li>Home</li></button>
					<button id="nav_games"><li>Games</li></button>
					<button id="nav_locks"><li>Locks</li></button>
				</ul>
				<div>
					<img id="avatar" src="" />
					<div class="names">
						<button id="nav_settings">
							<h2 id="username">Loading...</h2>
						</button>
						<h3 id="discord">Loading...</h3>
					</div>
				</div>
			</nav>
			<main>
				<ul class="list">
					<li>
						<ul class="row">
							<li class="card" onclick="select('blackjack')">
								<img
									src="https://imgs.search.brave.com/TcofTWuAL4PwxIeLKUSZo7L5k-Ezwtm0JJTCeWV4C-A/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAwLzA3LzIyLzA5/LzM2MF9GXzcyMjA5/NDdfa2FUTDZNVW55/M1pVRlhtMDdZVWNG/dXBDaUhpYTZHcGcu/anBn"
									alt="" />
								<h1>BlackJack</h1>
							</li>
							<li class="card" onclick="">
								<img src="../../../images/ComingSoon.png" alt="" />
								<h1>Slots</h1>
							</li>
							<li class="card" onclick="">
								<img src="../../../images/ComingSoon.png" alt="" />
								<h1>Chess</h1>
							</li>
						</ul>
					</li>
				</ul>
			</main>
		</div>

		<script src="games.js"></script>
		<script src="../nav.js"></script>
	</body>
</html>
