@import url("../modalsStyle.css");

nav {
	margin: 0;
}

#moduleList {
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	margin: 0;
	padding: 0;
	padding-block: 0.5rem;
	background-color: var(--secondary-bg-colour);
}

#moduleList > li {
	background-color: var(--background-colour);
	border-radius: 1rem;
	flex-grow: 1;
	margin-inline: 1rem;
	text-align: center;
	font-weight: bold;
	padding-block: 0.25rem;
	transition-duration: 250ms;
	position: relative;
}

#moduleList > li:hover:not(.locked) {
	background-color: var(--accent-colour);
	cursor: pointer;
	transition-duration: 250ms;
}

#container {
	width: 95%;
	height: 80vh;
	background-color: var(--secondary-bg-colour);
	margin-inline: auto;
	margin-top: 1rem;
	border-radius: 0.5rem;
}

.hidden {
	display: none;
}

#moduleList > li > .lockStatus {
	position: absolute;
	right: 15px;
}

#moduleList > li > .activeStatus {
	position: absolute;
	right: 35px;
}

.active {
	color: green;
}

.inactive {
	color: red;
}

#container {
	position: relative;
}

.toggle {
	position: absolute;
	margin: 0;
	padding-block: 0.5rem;
	padding-inline: 1rem;
	background-color: var(--background-colour);
	border-radius: 1rem;
}

.toggle:hover {
	cursor: pointer;
}

#activeToggle {
	right: 15px;
	top: 10px;
}

#moduleLock {
	right: 15px;
	top: 50px;
}

.tasks {
	display: flex;
}

.tasks > ul {
	position: relative;
	background-color: var(--background-colour);
	width: 30%;
	margin-left: 1rem;
	margin-top: 1rem;
	padding: 0;
	list-style: none;
	text-align: center;
	border-radius: 0.5rem;
	overflow-y: scroll;
}

.elmTitle {
	position: sticky;
	background-color: var(--background-colour);

	top: 0;
	margin: 0;
	width: 100%;
	margin-inline: auto;
	border-bottom: 2px solid white;
}

.tasks > ul > li {
	display: flex;
	justify-content: space-between;
	margin-inline: 0.25rem;
	border-bottom: rgba(255, 255, 255, 0.1) dashed 2px;
}

.tasks > ul > li > i {
	transition-duration: 250ms;
}
.tasks > ul > li > i:hover {
	cursor: pointer;
	color: var(--accent-colour);
	transition-duration: 250ms;
}

.tasks > ul > .addbutton {
	position: sticky;
	bottom: 0;
	width: 98.5%;
	left: 0;
	background-color: darkgray;
	border: 2px solid black;
	border-radius: 0.5rem;
	transition-duration: 250ms;
	z-index: 1; /* Ensure it's above the other elements */
}

.tasks > ul > .addbutton:hover {
	background-color: gray;
	cursor: pointer;
	transition-duration: 250ms;
}

.settingsGrid {
	margin-left: 1rem;
	margin-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 1rem;
	row-gap: 1rem;
}

.setting_container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 150px;
	height: 100px;
	background-color: var(--background-colour);
	border-radius: 0.5rem;
	margin: 0;
}

.setting_container > h2 {
	margin: 0;
	font-size: 16px;
	text-align: center;
}

.setting_container > i:hover {
	cursor: pointer;
	background-color: var(--accent-colour);
	transition-duration: 250ms;
}

.setting_container > i {
	transition-duration: 250ms;
	position: absolute;
	padding: 0.2rem;
	border-radius: 1rem;
	scale: 3;
	bottom: 40%;
}
