@import url("../../general.css");

* {
	margin: 0;
}

h1 {
	text-align: center;
	background-color: var(--secondary-bg-colour);
}
h2 {
	text-align: center;
	margin-block: 1rem;
}
h3 {
	width: fit-content;
	text-align: center;
	margin-inline: auto;
	background-color: #ff4a4a;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

h3:hover {
	cursor: pointer;
}

p {
	text-align: center;
	color: #ff4a4a;
	font-size: 18px;
}
